$primary:#5265E1;
$secondary:#FA5959;

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
);
.boton-firefox¨{
    border-color: #000;
}
.card{
    height: 500px;
    
}
.card1{
    margin-right: 2%;
    margin-left: 2%;
}
.card2{
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 2%;

}
.card3{
    margin-top: 10%;
   
    margin-right: 2%;
    margin-left: 2%;
}
.preguntasTitulo{
    width: 700px;
}
.preguntas{
    width: 700px;
}
.hoverSpecial:hover{
    color: #FA5959;
}
.navBarestatica{
    background-color: #adb5bd;
}
#fondoazul{
    width: 60%;
    height: 15rem;
    border-radius:15vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: -1;
}
.formulario{
    color: #ffff;

}
.fotterNav{
    background-color:#1f275b ;
}
#blue-background-left {
    background-color: #5265e1;
    width: 60%;
    height: 15rem;
    border-radius:15vw;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

.latrasFacturas{
    text-align: start;
}
.card{
    height: 600px;
    
}
.card1{
    // margin-right: 2%;
    // margin-left: 2%;
}
.card2{
    // margin-top: 5%;
    // margin-right: 2%;
    // margin-left: 2%;

}
.card3{
    // margin-top: 10%;
   
    // margin-right: 2%;
    // margin-left: 2%;
}

#fondoazul2{
    
    width: 60%;
    height: 15rem;
    border-radius:15vw;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: -1;
}
.imgFacturas{
    margin-bottom: 100px;
}

@media (min-width: 1200px) and (max-width:1399.98px){
    // #fondoazul2{
    //     width: 500px;
    // }
    // #fondoazul{
    //     width: 500px;
    // }
}



@media (min-width: 768px) and (max-width:991.98px){
    // #fondoazul2{
    //     width: 500px;
    // }
    // #fondoazul{
    //     width: 500px;
    // }
    // .card{
    //     height: 450px;
        
    // }


}
@media (min-width: 576px) and (max-width:767.98px){
    // #fondoazul2{
    //     width: 450px;
    //     border-radius:18vw;
    //     border-top-left-radius: 0px;
    //     border-bottom-left-radius: 0px;
    // }
    // #fondoazul{
    //     width: 450px;
    //     border-radius:18vw;
    //     border-top-right-radius: 0px;
    //     border-bottom-right-radius: 0px;
    // }
    // .card{
    //     height: 100%;
        
    // }
    
}
@media  (max-width:575.98px){
    // #fondoazul2{
    //     width: 450px;
    //     border-radius:25vw;
    //     border-top-left-radius: 0px;
    //     border-bottom-left-radius: 0px;
    // }
    // #fondoazul{
    //     width: 450px;
    //     border-radius:25vw;
    //     border-top-right-radius: 0px;
    //     border-bottom-right-radius: 0px;
    // }
    .card{
        width: 400px;
        height: auto;
       
    }

}







@import "../node_modules/bootstrap/scss/bootstrap";


