$primary:#5265E1;
$secondary:#FA5959;

$theme-colors:(
    "primary": $primary,
    "secondary": $secondary,
);
.boton-firefox¨{
    border-color: #000;
}
.botonprimerapaguina:hover{
  
    color: #000;
    border: #000;
}
#fondoazul{
    height: 330px;
    width: 650px;
    border-radius:15vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: -1;
}

//Exe 2 lvl 1//
.latrasFacturas{
    text-align: start;
}

#fondoazul2{
    
    height: 330px;
    width: 650px;
    border-radius:15vw;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: -1;
}
.imgFacturas{
    margin-bottom: 100px;
}
@media (min-width: 1200px) and (max-width:1399.98px){
    #fondoazul2{
        width: 500px;
    }
}



@media (min-width: 768px) and (max-width:991.98px){
    #fondoazul2{
        width: 500px;
    }


}
@media (min-width: 576px) and (max-width:767.98px){
    #fondoazul2{
        width: 450px;
        border-radius:18vw;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}
@media  (max-width:575.98px){
    #fondoazul2{
        width: 450px;
        border-radius:25vw;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}





@media (min-width: 1200px) and (max-width:1399.98px){
    #fondoazul{
        width: 500px;
    }
}
@media (min-width: 768px) and (max-width:991.98px){
    #fondoazul{
        width: 500px;
    }

}
@media (min-width: 576px) and (max-width:767.98px){
    #fondoazul{
        width: 450px;
        border-radius:18vw;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}
@media  (max-width:575.98px){
    #fondoazul{
        width: 450px;
        border-radius:25vw;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}

@import "../node_modules/bootstrap/scss/bootstrap";


